.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  height: 100%;
  background-color: #292929;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: Raleway, sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 9px 15px;
  border-radius: 3px;
  background-color: #26acc7;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Raleway, sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #383838;
}

.button.intro-button {
  position: relative;
  z-index: 1;
  margin-top: 0px;
  padding: 11px 25px;
  border: 1px solid #e31064;
  border-radius: 3px;
  background-color: #e31064;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 700;
}

.button.intro-button:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}

.button.feature-button {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #000;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 15px;
}

.button.feature-button:hover {
  background-color: #e31064;
}

.button.feature-button.custom {
  border-radius: 3px;
}

.button.price-button {
  margin-top: 0px;
  padding: 14px 25px;
  background-color: #e31064;
  font-weight: 700;
  text-transform: uppercase;
}

.button.price-button:hover {
  background-color: #ed5c96;
}

.button.submit-button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
}

.button.dark {
  background-color: #000;
}

.button.dark:hover {
  background-color: #3bcdeb;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: transparent;
}

.hero {
  height: 800px;
  background-color: #2f3d40;
  background-image: url('../images/BG-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-container {
  position: relative;
  height: 100%;
  padding-top: 230px;
}

.hero-text-block {
  position: relative;
  z-index: 500;
  width: 540px;
  float: left;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 6px #000;
}

.hero-title.title-2 {
  margin-top: 21px;
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
}

.hero-title.word {
  display: inline-block;
  margin-top: 10px;
  margin-right: 14px;
  font-size: 58px;
  line-height: 58px;
  font-weight: 900;
}

.hero-button {
  display: inline-block;
  margin-right: 6px;
  padding: 15px 25px;
  border-radius: 3px;
  background-color: #26acc7;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.hero-button:hover {
  background-color: #3fd4f2;
}

.hero-button._2 {
  background-color: #e31064;
}

.hero-button._2:hover {
  background-color: #fc3585;
}

.hero-button.small {
  padding: 5px;
}

.hero-image {
  position: absolute;
  top: 215px;
  right: 0px;
  height: 440px;
}

.hero-image.macbook {
  top: 185px;
  right: -285px;
  height: 440px;
}

.hero-image.phone-white {
  top: 223px;
  right: -105px;
  height: 420px;
}

.hero-overlay {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 48, 66, 0.29);
}

.section {
  padding-top: 95px;
  padding-bottom: 95px;
  background-color: #fff;
}

.section.tint {
  background-color: #ededed;
}

.section.products {
  height: 490px;
  background-color: #26acc7;
  color: #fff;
}

.section.products.custom-0856 {
  background-image: url('../images/BG-1.jpg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.brands-section {
  padding-bottom: 85px;
}

.section.dark {
  background-color: #292929;
  color: #fff;
}

.section.custom {
  background-color: #ececec;
}

.section.custom-1 {
  display: none;
}

.section-title-block {
  margin-bottom: 30px;
  text-align: left;
}

.section-title-block.centered {
  margin-bottom: 10px;
  text-align: center;
}

.section-title-block.testimonials {
  margin-bottom: 55px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 42px;
  line-height: 42px;
  font-weight: 900;
  text-transform: uppercase;
}

.section-title.subtitle {
  font-size: 25px;
  line-height: 27px;
  font-weight: 400;
}

.section-title.subtitle.custom {
  font-size: 18px;
  text-transform: none;
}

.section-title.subtitle.custom-2 {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-size: 22px;
}

.brand-logo {
  display: inline-block;
  width: 10.2%;
  margin-right: 2%;
  margin-bottom: 12px;
  margin-left: 2%;
  opacity: 0.4;
}

.container {
  position: relative;
}

.container.centered {
  display: block;
  text-align: center;
}

.section-divider-line {
  display: inline-block;
  width: 100px;
  height: 3px;
  background-color: #ff1774;
}

.section-divider-line.feature-divider {
  margin-top: 16px;
  margin-bottom: 14px;
}

.section-divider-line.models-divider {
  margin-top: 15px;
  margin-bottom: 18px;
  background-color: hsla(0, 0%, 100%, 0.29);
}

.nav-link {
  padding-right: 15px;
  padding-left: 15px;
  font-family: Raleway, sans-serif;
  color: hsla(0, 0%, 100%, 0.65);
  font-size: 14px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.nav-link.hero-button._2.small {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.logo-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-weight: 300;
}

.logo-container {
  padding-top: 7px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.logo-container:hover {
  text-shadow: 0 0 16px #fff;
}

.intro-row {
  margin-bottom: 45px;
}

.intro-column-title {
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 24px;
  line-height: 23px;
  font-weight: 900;
  text-transform: uppercase;
}

.intro-column-title.subtitle {
  margin-bottom: 16px;
  font-size: 21px;
  font-weight: 300;
}

.intro-button-wrapper {
  position: relative;
}

.intro-button-line {
  position: absolute;
  left: 0px;
  top: 22px;
  right: 0px;
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

.intro-icon {
  height: 65px;
  margin-bottom: 27px;
}

.link {
  font-family: Raleway, sans-serif;
  color: #26acc7;
}

.link:hover {
  color: #000;
}

.link.below-paragraph {
  display: block;
  margin-top: 16px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #e31064;
  text-decoration: none;
}

.link.below-paragraph:hover {
  color: #000;
  text-decoration: underline;
}

.link.footer-link {
  display: block;
  color: #333;
}

.link.footer-link:hover {
  color: #e31064;
}

.link.footer-text-link {
  color: #333;
}

.link.footer-text-link:hover {
  color: #e31064;
}

.image-section {
  background-image: url('../images/BG-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.image-section-overlay {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(69, 87, 102, 0.4);
  color: #fff;
}

.image-section-overlay._2 {
  padding-top: 145px;
  padding-bottom: 145px;
}

.image-section-overlay.custom {
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-section-overlay.custom-12 {
  display: none;
}

.large-phone-mockup {
  position: absolute;
  left: -173px;
  top: -168px;
  height: 795px;
}

.column-title-block {
  margin-bottom: 21px;
}

.check-list {
  margin-top: 25px;
}

.check-list-icon {
  width: 24px;
  margin-right: 13px;
  float: left;
}

.check-list-item {
  margin-bottom: 10px;
}

.check-list-item.last {
  margin-bottom: 0px;
}

.checklist-title {
  padding-left: 38px;
  font-family: Raleway, sans-serif;
  color: #fff;
}

.feature-title {
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 23px;
  line-height: 22px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.feature-title.subtitle {
  font-size: 17px;
  font-weight: 300;
}

.feature-title.subtitle.custom {
  text-transform: none;
}

.feature-title.custom {
  text-align: left;
}

.feature-column {
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.feature-block {
  position: relative;
  padding: 25px;
  border-style: solid;
  border-width: 3px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 4px;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
}

.feature-block:hover {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.feature-block.custom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
  transition: background-color 500ms ease, border-color 500ms ease, color 350ms ease;
  color: #000;
  cursor: default;
}

.feature-block.custom:hover {
  background-color: #fff;
}

.features-row {
  margin-top: 51px;
}

.footer {
  padding-top: 0px;
  background-color: #ececec;
  color: #333;
}

.bottom-footer {
  margin-top: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #292929;
  text-align: center;
}

.bottom-footer-text {
  font-family: Raleway, sans-serif;
  color: #919191;
  font-size: 12px;
}

.column-title {
  margin-top: 0px;
  margin-bottom: 6px;
  line-height: 32px;
  font-weight: 900;
  text-transform: uppercase;
}

.column-title.subtitle {
  margin-bottom: 12px;
  font-size: 21px;
  line-height: 27px;
  font-weight: 300;
}

.large-column-title {
  margin-top: 0px;
  font-family: Raleway, sans-serif;
  font-size: 45px;
  line-height: 39px;
  font-weight: 900;
  text-transform: uppercase;
}

.large-column-title.custom-3684 {
  font-size: 32px;
  line-height: 32px;
}

.models-text-block {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 35%;
  margin-top: 14px;
  float: left;
}

.models-slider {
  position: relative;
  display: inline-block;
  width: 570px;
  height: 300px;
  float: right;
  background-color: transparent;
}

.models-slider.custom-1754 {
  height: auto;
}

.models-slide {
  text-align: center;
}

.model-image {
  height: 300px;
}

.model-image.iphone {
  height: 280px;
  margin-top: 16px;
}

.model-image.ipad {
  margin-top: 18px;
}

.model-image.custom {
  height: 280px;
}

.model-image.custom2 {
  width: 450px;
  height: auto;
}

.model-slider-title {
  position: absolute;
  right: 50px;
  bottom: 85px;
  padding: 9px 11px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: Raleway, sans-serif;
  font-size: 23px;
}

.model-slider-title.subtitle {
  bottom: 49px;
  padding: 5px 7px;
  background-color: #e31064;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

.model-slider-title.subtitle.custom-7385 {
  bottom: 0px;
}

.model-slider-title.custom-7435 {
  bottom: 35px;
}

.model-slider-arrow {
  width: 40px;
  border-radius: 0px;
  opacity: 0.6;
  font-size: 23px;
  font-weight: 600;
}

.model-slider-arrow:hover {
  opacity: 1;
}

.page-header {
  background-image: url('../images/BG-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.page-header.contact {
  background-color: #ececec;
  background-image: url('../images/BG-1.jpg');
}

.page-header._404-page {
  height: 100%;
}

.page-header-overlay {
  width: 100%;
  height: 100%;
  padding-top: 175px;
  padding-bottom: 105px;
  background-color: rgba(29, 48, 66, 0.29);
}

.page-header-overlay._404-page {
  height: 100%;
  padding-top: 25%;
}

.page-header-title {
  margin-top: 0px;
  color: #fff;
  font-size: 52px;
  line-height: 45px;
  font-weight: 900;
  text-transform: uppercase;
}

.page-header-title.subtitle {
  margin-bottom: 0px;
  font-size: 27px;
  line-height: 26px;
  font-weight: 300;
}

.page-header-container.centered {
  text-align: center;
}

.page-header-container.always-centered {
  text-align: center;
}

.page-header-content-container {
  margin-top: 75px;
}

.pricing-column {
  padding-right: 15px;
  padding-left: 15px;
}

.pricing-block {
  overflow: hidden;
  border-radius: 4px;
  background-color: #000;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  text-align: center;
}

.pricing-block:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.pricing-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}

.pricing-title.price {
  font-family: Lato, sans-serif;
  font-size: 36px;
  line-height: 41px;
  font-weight: 300;
}

.pricing-title.monthly {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 26px;
  font-weight: 300;
}

.pricing-title._2 {
  color: #e31064;
}

.pricing-title._3 {
  color: #26acc7;
}

.pricing-price-wrapper {
  padding: 25px;
  background-color: #fff;
}

.pricing-feature-list {
  margin-top: -20px;
}

.pricing-feature-list-item {
  padding: 9px 25px;
  border-top: 1px solid #e3e3e3;
  background-color: #fff;
}

.pricing-feature-text {
  font-family: Raleway, sans-serif;
}

.pricing-button-wrapper {
  padding: 25px;
  background-color: #1d3042;
}

.contact-form {
  display: block;
  width: 600px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 25px;
  border-radius: 4px;
  background-color: transparent;
}

.field {
  height: 50px;
  margin-bottom: 6px;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease, border 400ms ease;
  transition: background-color 200ms ease, border 400ms ease;
  font-family: Raleway, sans-serif;
  color: #000;
  font-size: 16px;
}

.field:hover {
  border-color: #000;
  background-color: #fff;
}

.field:focus {
  border-color: #26acc7;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.6);
}

.field.area {
  height: 170px;
  padding-top: 12px;
}

.column-left {
  padding-right: 90px;
}

.check-list-block {
  padding: 35px;
  border-radius: 3px;
  background-color: #e31064;
  color: #fff;
}

.info-column-left {
  padding-right: 100px;
}

.info-image-block {
  position: absolute;
  top: -35px;
  right: -80px;
  z-index: 20;
  width: 625px;
}

.info-image-block.left {
  left: -160px;
  top: -35px;
  right: auto;
}

.info-tooltip-block {
  position: absolute;
  left: 0px;
  top: 106px;
}

.info-tooltip-block._2 {
  left: auto;
  top: 180px;
  right: 0px;
  text-align: right;
}

.info-tooltip-block._3 {
  left: -100px;
}

.info-tooltip-line {
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #e31064;
}

.info-tooltip-line._2 {
  width: 260px;
}

.info-tooltip-circle {
  position: absolute;
  top: -9px;
  right: 0px;
  width: 20px;
  height: 20px;
  border: 4px solid #e31064;
  border-radius: 100%;
  background-color: #fff;
}

.info-tooltip-circle.left {
  left: 0px;
  top: -9px;
  right: auto;
}

.info-tooltip-text {
  margin-bottom: 7px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
}

.testimonial-block {
  position: relative;
  min-height: 120px;
  margin-top: 13px;
  padding-top: 27px;
  padding-left: 125px;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  opacity: 1;
}

.testimonial-image {
  position: absolute;
  left: 0px;
  top: 23px;
  width: 90px;
  height: 90px;
  border: 3px solid #fff;
  border-radius: 100%;
}

.testimonial-name {
  display: inline-block;
  margin-top: 9px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
}

.testimonial-name.title {
  margin-left: 17px;
  font-weight: 300;
}

.info-column-right {
  padding-left: 45px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-column {
  text-align: left;
}

.footer-link {
  color: #919191;
}

.footer-link:hover {
  color: #fff;
}

.footer-title {
  margin-bottom: 35px;
  opacity: 1;
  font-family: Raleway, sans-serif;
  color: #333;
  font-size: 21px;
  font-weight: 700;
}

.footer-list-item {
  margin-bottom: 6px;
}

.footer-list-text {
  font-family: Raleway, sans-serif;
  color: #333;
}

.footer-gray-social-block {
  height: 30px;
  margin-top: 11px;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 1px;
  opacity: 1;
  text-align: center;
}

.footer-gray-social-block:hover {
  opacity: 1;
}

.footer-gray-social-icon {
  height: 22px;
}

.photo-section {
  background-image: url('../images/Photo-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.photo-section-overlay {
  padding-top: 145px;
  padding-bottom: 145px;
  background-color: rgba(0, 0, 0, 0.58);
  color: #fff;
}

.content-features-row._2 {
  margin-top: 30px;
}

.content-features-column {
  padding-right: 15px;
}

.features-block {
  position: relative;
  padding-top: 4px;
  padding-left: 44px;
}

.feature-icon {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 30px;
  opacity: 0.3;
}

.feature-block-title {
  margin-bottom: 7px;
  font-family: Raleway, sans-serif;
  font-size: 15px;
  font-weight: 800;
}

.feature-paragraph {
  color: #a8a8a8;
}

.facts-section {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #ebebeb;
}

.facts-column {
  -webkit-transition: color 350ms ease;
  transition: color 350ms ease;
  color: #1c1c1c;
  text-align: center;
}

.facts-column:hover {
  color: #e31064;
}

.facts-title {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  line-height: 38px;
  font-weight: 900;
}

.facts-title.description {
  margin-top: 14px;
  color: #737373;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
}

.clients-title {
  margin-bottom: 17px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.clients-col-left {
  padding-right: 25px;
}

.clients-col-right {
  padding-left: 25px;
}

.process-bar-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.process-bar {
  overflow: hidden;
  width: 100%;
  height: 8px;
  border-radius: 40px;
  background-color: hsla(0, 0%, 61.2%, 0.49);
}

.process-bar-fill {
  width: 50%;
  height: 100%;
  background-color: #e31064;
}

.process-bar-title {
  display: inline-block;
  margin-bottom: 5px;
  float: left;
  font-family: Raleway, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.process-bar-title.number {
  float: right;
  opacity: 0.4;
}

.hero-buttons-wrapper {
  margin-top: 25px;
}

.contact-map {
  margin-bottom: 75px;
}

.success-bg {
  padding-top: 16px;
  border-radius: 60px;
  background-color: #26acc7;
  color: #fff;
  text-align: center;
}

.error-bg {
  padding-top: 16px;
  border-radius: 50px;
  color: #e31064;
  text-align: center;
}

.small-link-icon {
  height: 20px;
  margin-top: 12px;
  margin-right: 8px;
  float: left;
}

.dropdown {
  font-family: Raleway, sans-serif;
  color: #fff;
}

.dropdown-toggle {
  padding-right: 30px;
  color: hsla(0, 0%, 100%, 0.65);
}

.dropdown-toggle:hover {
  color: #fff;
}

.dropdown-toggle.w--open {
  color: #fff;
}

.dropdown-icon {
  margin-right: 10px;
}

.dropdown-list.w--open {
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-link {
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-transition: background-color 350ms ease, color 350ms ease;
  transition: background-color 350ms ease, color 350ms ease;
  font-size: 13px;
  text-decoration: none;
}

.dropdown-link:hover {
  background-color: #e31064;
  color: #fff;
}

.dropdown-link.w--current {
  color: #26acc7;
}

.dropdown-link.w--current:hover {
  color: #fff;
}

.image {
  margin-top: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-wrap.custom-1954 {
  background-image: url('../images/BG-1.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.custom-p {
  text-align: center;
}

.custom-checkbox-label {
  margin-bottom: 0px;
  font-size: 11px;
  line-height: 11px;
}

.custom-link {
  color: #ececec;
}

.custom-link._2 {
  color: #000;
}

.column {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-bottom: -95px;
}

.html-embed {
  margin-bottom: 75px;
}

.textpageparagraph {
  margin-top: 100px;
  text-align: left;
}

.checkbox-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
  padding: 10px 12px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: background-color 200ms ease, border 400ms ease;
  transition: background-color 200ms ease, border 400ms ease;
  color: #000;
}

.checkbox-field:hover {
  border-color: #000;
}

.checkbox {
  margin-top: 0px;
  margin-right: 6px;
  margin-left: 0px;
  cursor: pointer;
}

.link-2 {
  color: #fff;
}

.image-2 {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.custom-7535 {
  color: #ececec;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-right: 45px;
    padding-left: 45px;
  }

  .hero {
    height: 620px;
  }

  .hero-container {
    padding-top: 124px;
  }

  .hero-text-block {
    width: 400px;
  }

  .hero-title {
    font-size: 17px;
  }

  .hero-title.title-2 {
    font-size: 23px;
    line-height: 27px;
  }

  .hero-title.word {
    font-size: 47px;
    line-height: 47px;
  }

  .hero-button {
    margin-bottom: 10px;
  }

  .hero-image {
    top: 147px;
    height: 400px;
  }

  .hero-image.macbook {
    top: 117px;
    right: -318px;
    height: 390px;
  }

  .hero-image.phone-white {
    top: 159px;
    height: 370px;
  }

  .hero-overlay {
    padding-right: 45px;
    padding-left: 45px;
  }

  .section {
    overflow: hidden;
    padding: 60px 45px;
  }

  .section.products {
    height: 380px;
  }

  .section.brands-section {
    padding-bottom: 45px;
  }

  .section.custom {
    display: block;
  }

  .section-title-block.testimonials {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 3px;
    font-size: 35px;
  }

  .section-title.subtitle {
    font-size: 19px;
    line-height: 17px;
  }

  .section-title.subtitle.custom-2 {
    line-height: 22px;
  }

  .brand-logo {
    width: 11.5%;
    margin-right: 1%;
    margin-left: 1%;
  }

  .nav-link {
    width: 100%;
    max-width: 900px;
    padding-left: 25px;
    -webkit-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    font-size: 15px;
  }

  .nav-link:hover {
    background-color: #26acc7;
  }

  .intro-row {
    margin-bottom: 32px;
  }

  .image-section-overlay {
    padding-right: 45px;
    padding-left: 45px;
  }

  .image-section-overlay._2 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .large-phone-mockup {
    left: -202px;
    top: -58px;
    height: 655px;
  }

  .feature-block {
    padding: 15px;
  }

  .large-column-title {
    font-size: 35px;
    line-height: 34px;
  }

  .large-column-title.custom-3684 {
    position: relative;
    z-index: 1;
  }

  .models-text-block {
    width: 40%;
  }

  .models-text-block.custom-9684 {
    position: static;
  }

  .models-slider {
    top: 39px;
    right: -15px;
    width: 400px;
    height: 190px;
  }

  .models-slider.custom-1754 {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
  }

  .model-image {
    height: 190px;
  }

  .model-image.custom2 {
    height: auto;
  }

  .model-slider-title {
    bottom: 65px;
    font-size: 17px;
  }

  .model-slider-title.subtitle {
    bottom: 30px;
    margin-top: 4px;
    font-size: 12px;
  }

  .model-slider-title.subtitle.custom-7385 {
    right: 10px;
    bottom: 0px;
  }

  .model-slider-title.custom-7435 {
    right: 10px;
    bottom: 35px;
  }

  .page-header-overlay {
    padding: 160px 45px 70px;
  }

  .page-header-overlay._404-page {
    padding-top: 26%;
  }

  .page-header-title {
    font-size: 45px;
    line-height: 38px;
  }

  .page-header-title.subtitle {
    font-size: 25px;
  }

  .page-header-content-container {
    margin-top: 45px;
  }

  .pricing-column {
    padding-right: 9px;
    padding-left: 9px;
  }

  .pricing-title {
    font-size: 24px;
    line-height: 26px;
  }

  .pricing-title.price {
    font-size: 28px;
    line-height: 30px;
  }

  .pricing-feature-list-item {
    padding-right: 9px;
    padding-left: 9px;
  }

  .pricing-feature-text {
    font-size: 12px;
  }

  .field {
    border-width: 0px;
  }

  .column-left {
    padding-right: 45px;
  }

  .check-list-block {
    padding: 25px;
  }

  .info-image-block {
    top: -4px;
    right: -100px;
    width: 535px;
    text-align: center;
  }

  .info-image-block.left {
    top: -8px;
  }

  .info-tooltip-block {
    text-align: left;
  }

  .info-tooltip-block._2 {
    right: 70px;
  }

  .info-tooltip-line._2 {
    width: 200px;
  }

  .menu-button {
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-right: 0px;
    padding-left: 0px;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0.49);
    border-radius: 4px;
    -webkit-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    color: #fff;
    text-align: center;
  }

  .menu-button:hover {
    background-color: #fff;
    color: #e31064;
  }

  .menu-button.w--open {
    background-color: #26acc7;
  }

  .nav-menu {
    background-color: #000;
  }

  .footer-row {
    padding-right: 25px;
    padding-left: 25px;
  }

  .photo-section-overlay {
    padding: 90px 45px;
  }

  .facts-section {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .facts-title.description {
    font-size: 16px;
  }

  .clients-title {
    font-size: 21px;
  }

  .clients-col-left {
    padding-right: 18px;
  }

  .hero-buttons-wrapper {
    margin-top: 10px;
  }

  .dropdown-toggle {
    padding-right: 45px;
    padding-left: 25px;
  }

  .dropdown-icon {
    margin-right: 25px;
  }

  .dropdown-list.w--open {
    border-radius: 0px;
  }

  .dropdown-link {
    padding-left: 25px;
  }

  .column {
    position: absolute;
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: block;
    margin-top: auto;
    margin-bottom: -60px;
  }

  .checkbox-field {
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: 0px;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 15px 25px;
  }

  .hero {
    height: 520px;
  }

  .hero-container {
    padding-top: 102px;
  }

  .hero-text-block {
    width: 50%;
  }

  .hero-title {
    font-size: 3vw;
    line-height: 3vw;
  }

  .hero-title.title-2 {
    font-size: 3vw;
    line-height: 3vw;
  }

  .hero-title.word {
    font-size: 6vw;
    line-height: 6vw;
  }

  .hero-button {
    width: 100%;
    margin-top: 5px;
    margin-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .hero-button._2 {
    margin-top: 0px;
  }

  .hero-image {
    height: 310px;
  }

  .hero-image.macbook {
    top: 127px;
    right: -246px;
    height: auto;
  }

  .hero-image.phone-white {
    height: 281px;
  }

  .hero-overlay {
    padding-right: 25px;
    padding-left: 25px;
  }

  .section {
    padding: 40px 25px;
  }

  .section.tint {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section.products {
    height: auto;
    padding-bottom: 40px;
  }

  .section.brands-section {
    padding-bottom: 25px;
  }

  .section.custom {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title-block.testimonials {
    margin-bottom: 15px;
  }

  .section-title {
    font-size: 6vw;
    line-height: 6vw;
  }

  .section-title.subtitle {
    font-size: 3vw;
    line-height: 6vw;
  }

  .brand-logo {
    width: 17.5%;
  }

  .logo-container {
    padding-top: 0px;
    padding-left: 0px;
  }

  .intro-column {
    padding-bottom: 25px;
  }

  .intro-column.last {
    padding-bottom: 0px;
  }

  .image-section-overlay {
    padding: 60px 25px;
  }

  .image-section-overlay._2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .large-phone-mockup {
    position: static;
    width: 100%;
    height: auto;
  }

  .feature-column {
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
  }

  .feature-column.last {
    padding-bottom: 0px;
  }

  .bottom-footer {
    margin-top: 25px;
    padding: 25px;
  }

  .column-title {
    font-size: 6vw;
    line-height: 6vw;
  }

  .large-column-title {
    font-size: 6vw;
    line-height: 6vw;
  }

  .large-column-title.custom-3684 {
    font-size: 6vw;
    line-height: 6vw;
  }

  .models-text-block {
    position: static;
    display: block;
    width: 100%;
    margin-bottom: 30px;
  }

  .models-slider {
    position: relative;
    top: 0px;
    right: 0px;
    display: block;
    width: 100%;
    height: 300px;
    float: none;
  }

  .models-slider.custom-1754 {
    padding-top: 0px;
    padding-left: 0px;
  }

  .model-image {
    width: auto;
    height: auto;
  }

  .model-image.custom2 {
    width: 740px;
  }

  .page-header._404-page {
    height: auto;
  }

  .page-header-overlay {
    padding: 100px 25px 45px;
  }

  .page-header-overlay._404-page {
    padding: 100px 25px 25px;
  }

  .page-header-title {
    font-size: 6vw;
    line-height: 6vw;
  }

  .page-header-title.subtitle {
    font-size: 3vw;
    line-height: 4vw;
  }

  .page-header-container.centered {
    text-align: left;
  }

  .page-header-content-container {
    margin-top: 25px;
  }

  .pricing-column {
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
  }

  .pricing-column.last {
    padding-bottom: 0px;
  }

  .pricing-title {
    font-size: 7vw;
    line-height: 8vw;
  }

  .pricing-title.price {
    font-size: 6vw;
    line-height: 7vw;
  }

  .pricing-price-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .pricing-feature-text {
    font-size: 14px;
  }

  .contact-form {
    width: 100%;
    padding: 0px;
  }

  .field {
    height: 42px;
    margin-bottom: 5px;
    border-width: 0px;
  }

  .column-left {
    padding-right: 0px;
    padding-left: 0px;
  }

  .column-right {
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .info-column-left {
    padding-right: 0px;
    padding-left: 0px;
  }

  .info-image-block {
    position: static;
    width: 100%;
  }

  .testimonial-block {
    padding-top: 19px;
  }

  .info-column-right {
    padding-top: 25px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu-button {
    width: 50px;
    height: 50px;
    padding-top: 12px;
  }

  .footer-row {
    padding-right: 0px;
    padding-left: 0px;
  }

  .footer-column {
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
  }

  .footer-title {
    margin-bottom: 15px;
  }

  .photo-section-overlay {
    padding: 40px 25px;
  }

  .content-features-row._2 {
    margin-top: 0px;
  }

  .content-features-column {
    padding-right: 0px;
    padding-bottom: 9px;
    padding-left: 0px;
  }

  .features-block {
    padding-top: 1px;
    padding-left: 43px;
  }

  .facts-section {
    padding: 25px;
  }

  .facts-column {
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 0px;
    text-align: left;
  }

  .facts-column.last {
    padding-bottom: 0px;
  }

  .facts-title {
    display: inline-block;
    width: 97px;
    margin-right: 22px;
    padding-bottom: 6px;
    float: left;
    border-radius: 2px;
    background-color: #292828;
    color: #fff;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
  }

  .facts-title.description {
    width: auto;
    margin-top: 7px;
    margin-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
  }

  .clients-col-left {
    padding-right: 0px;
    padding-bottom: 25px;
    padding-left: 0px;
  }

  .clients-col-right {
    padding-right: 0px;
    padding-left: 0px;
  }

  .hero-buttons-wrapper {
    margin-top: 16px;
  }

  .contact-map {
    height: 300px;
  }

  .column {
    position: static;
    display: block;
    margin-bottom: -40px;
  }

  .checkbox-field {
    margin-bottom: 5px;
    border-width: 0px;
  }
}

@media screen and (max-width: 479px) {
  p {
    font-size: 13px;
    line-height: 18px;
  }

  .button.feature-button.custom {
    margin-top: 0px;
  }

  .navbar {
    padding-left: 20px;
  }

  .hero {
    height: 460px;
  }

  .hero-container {
    padding-top: 84px;
  }

  .hero-text-block {
    width: 60%;
  }

  .hero-title {
    line-height: 3vw;
  }

  .hero-title.title-2 {
    margin-top: 11px;
    font-size: 4vw;
    line-height: 17px;
  }

  .hero-button {
    padding-left: 15px;
  }

  .hero-image {
    top: 145px;
    right: -20px;
    height: 200px;
  }

  .hero-image.macbook {
    top: 130px;
    right: -150px;
    height: auto;
  }

  .hero-image.phone-white {
    top: 150px;
    right: -95px;
    height: 180px;
  }

  .section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 40px 20px;
  }

  .section.products {
    padding-bottom: 40px;
  }

  .section.brands-section {
    padding-bottom: 13px;
  }

  .section-title-block {
    margin-bottom: 7px;
  }

  .section-title {
    font-size: 7vw;
    line-height: 7vw;
  }

  .section-title.subtitle {
    font-size: 4vw;
    line-height: 4vw;
  }

  .section-title.subtitle.custom {
    font-size: 4vw;
  }

  .section-title.subtitle.custom-2 {
    font-size: 7vw;
    line-height: 7vw;
  }

  .brand-logo {
    width: 27.5%;
    margin-right: 2%;
    margin-left: 2%;
  }

  .section-divider-line.feature-divider {
    margin-top: 7px;
  }

  .section-divider-line.models-divider {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .nav-link {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 14px;
  }

  .logo-text {
    margin-top: 3px;
    font-size: 25px;
    line-height: 34px;
  }

  .intro-column {
    padding-bottom: 15px;
  }

  .intro-column-title {
    font-size: 22px;
    line-height: 21px;
  }

  .intro-icon {
    height: 45px;
    margin-bottom: 13px;
  }

  .link.below-paragraph {
    margin-top: 8px;
    font-size: 12px;
  }

  .link.footer-link {
    font-size: 13px;
    line-height: 19px;
  }

  .image-section {
    margin-bottom: 0px;
  }

  .image-section-overlay {
    overflow: hidden;
  }

  .column-title-block {
    margin-bottom: 14px;
  }

  .check-list-icon {
    width: 18px;
  }

  .check-list-item {
    margin-bottom: 7px;
  }

  .checklist-title {
    font-size: 14px;
    line-height: 15px;
  }

  .feature-title {
    line-height: 12px;
  }

  .feature-title.subtitle {
    line-height: 22px;
  }

  .feature-column {
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
  }

  .features-row {
    margin-top: 19px;
  }

  .column-title.subtitle {
    margin-bottom: 5px;
    font-size: 5vw;
    line-height: 6vw;
  }

  .models-slider {
    height: 190px;
  }

  .model-image {
    height: auto;
  }

  .model-image.iphone {
    width: auto;
    height: auto;
  }

  .model-image.custom2 {
    width: 100%;
    height: auto;
  }

  .model-slider-title {
    font-size: 15px;
  }

  .model-slider-title.subtitle {
    font-size: 10px;
  }

  .page-header-overlay {
    padding: 75px 20px 26px;
  }

  .page-header-title {
    margin-bottom: 6px;
  }

  .page-header-title.subtitle {
    font-size: 3.5vw;
    line-height: 4vw;
  }

  .page-header-content-container {
    margin-top: 25px;
  }

  .field {
    height: 36px;
    border-width: 0px;
    border-color: #fff;
    font-size: 16px;
  }

  .field.area {
    height: 116px;
  }

  .info-image {
    position: static;
    width: auto;
    height: auto;
  }

  .testimonial-block {
    margin-top: 17px;
    padding-top: 14px;
    padding-left: 0px;
  }

  .testimonial-image {
    position: static;
    margin-bottom: 14px;
  }

  .menu-button {
    width: 40px;
    height: 40px;
    padding-top: 7px;
  }

  .footer-list-text {
    font-size: 13px;
  }

  .photo-section {
    margin-bottom: 0px;
  }

  .facts-section {
    padding: 20px;
  }

  .facts-title {
    margin-right: 14px;
    font-size: 27px;
  }

  .facts-title.description {
    font-size: 14px;
  }

  .clients-title {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  .checklist-column-right {
    padding-right: 0px;
    padding-left: 0px;
  }

  .contact-map {
    height: 260px;
  }

  .small-link-icon {
    margin-top: 3px;
    margin-right: 6px;
  }

  .image.footer-image {
    max-width: 90%;
    margin-bottom: 25px;
  }

  .paragraph {
    font-size: 14px;
  }

  .checkbox-field {
    margin-bottom: 5px;
    border-color: #fff;
    font-size: 16px;
  }
}

